    .tct_CookieLookup_Form {margin:0;padding:0;}
    .tct_CookieLocator_OuterWrapper {width:135px;}
    .tct_CookieLookup_SearchWrapper {padding:0 18px;}
    .tct_CookieLookup_SearchWrapper input[type="text"] {width:55px;padding:2px;}
    .tct_CookieLookup_SearchWrapper input[type="image"] {vertical-align: bottom;margin-bottom:2px;}
